@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-surface: #0f172a;
  --color-primary: #3b82f6;
  --color-accent: #1e293b;
}

:root {
  background-color: #020617;
  color: #f8fafc;
}

body {
  background-image: radial-gradient(circle at top right, #1e1b4b 0%, #020617 60%);
  background-attachment: fixed;
  min-height: 100vh;
}