@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Definição das variáveis de cor */
  --color-background: #020617;
  --color-surface: #0f172a;
  --color-primary: #3b82f6;
  --color-accent: #1e293b;
}

body {
  /* Usando a variável definida acima */
  background-color: var(--color-background);
  color: #f8fafc; /* Cor do texto padrão */
  background-image: radial-gradient(circle at top right, #1e1b4b 0%, #020617 60%);
  background-attachment: fixed;
  min-height: 100vh;
}